---
---

@import "main";

body {
  background-color: #121619;
  color: #e4e4e4;
}
a {
  color: #e39777;
}
img {
  filter: grayscale(30%);
}

a:hover {
  color: #e9d985;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
